<section class="signup" [formGroup]="signupForm" passwordRepeat>
    <div class="container">
        <div class="auth-form">
            <div class="auth-title">
                Регистрация на сайте
            </div>
            <div class="auth-inputs">
                <div class="auth-input">
                    <input type="text" class="input"
                    [ngStyle]="{'border-color': signupForm.get('name')?.invalid 
                        && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched) ? 'red' : ''}"
                    placeholder="Ваше имя" formControlName="name">
                    <label *ngIf="signupForm.get('name')?.invalid && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched)">Введите имя</label>
                </div>
                <div class="auth-input">
                    <input type="text" class="input"
                    [ngStyle]="{'border-color': signupForm.get('email')?.invalid 
                        && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched) ? 'red' : ''}"
                    placeholder="Электронная почта" formControlName="email">
                    <label *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">Введите электронную почту</label>
                </div>
                <div class="auth-input">
                    <input type="password" class="input" 
                    [ngStyle]="{'border-color': signupForm.get('password')?.invalid 
                        && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched) ? 'red' : ''}"
                    placeholder="Пароль" formControlName="password"> 
                    <label *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
                        Введите пароль. Не менее 8 символов, большие и маленькие английские буквы</label>
                </div>
                <div class="auth-checkbox">
                    <input type="checkbox" id="agree" formControlName="agree">
                    <label for="agree">Я принимаю <a routerLink="/privacy" fragment="conditions">условия пользовательского соглашения</a> и даю <a routerLink="/privacy" fragment="agreement">согласие на обработку персональных данных</a>.</label>
                </div>
            </div>
            <div class="auth-button">
                <button class="button" [disabled]="signupForm.invalid" (click)="signup()">Зарегистрироваться</button>
            </div>
            <div class="auth-link">
                Уже есть аккаунт? <a routerLink="/login">Войдите</a>
            </div>
        </div>
        <div class="page-image">
            <img src="../../../../assets/images/pages/user/signin.png" alt="flower">
        </div>
    </div>
</section>