$element-color: #B9D5FD;
$dark-element-color: #709FDC;
$container-width: 1240px;
$text-color: #071739;
$text-color-disabled: #BEBEBE;
$button-disabled-background: #BEBEBE;
$title-text-color: #709FDC;
$placeholder-text-color: #A8ABA7;
$fill-btn-text-color: #FFFFFF;
$message-text-color: #1E1A2B;
$link-text-color: #709FDC;
